[submodule "vim/bundle/archer"]
	path = vim/bundle/archer
	url = git://github.com/avakarev/vim-archer.git
[submodule "vim/bundle/colors-jellybeans"]
	path = vim/bundle/colors-jellybeans
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "vim/bundle/colors-jellyx"]
	path = vim/bundle/colors-jellyx
	url = git://github.com/guns/jellyx.vim.git
[submodule "vim/bundle/colors-solarized"]
	path = vim/bundle/colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/colors-xoria256"]
	path = vim/bundle/colors-xoria256
	url = git://github.com/vim-scripts/xoria256.vim.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "vim/bundle/mru"]
	path = vim/bundle/mru
	url = git://github.com/vim-scripts/mru.vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/rusa"]
	path = vim/bundle/rusa
	url = git://github.com/avakarev/vim-rusa.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/syntax-coffee"]
	path = vim/bundle/syntax-coffee
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/syntax-html5"]
	path = vim/bundle/syntax-html5
	url = git://github.com/othree/html5.vim.git
[submodule "vim/bundle/syntax-jade"]
	path = vim/bundle/syntax-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim/bundle/syntax-javascript"]
	path = vim/bundle/syntax-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/syntax-markdown"]
	path = vim/bundle/syntax-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/syntax-nginx"]
	path = vim/bundle/syntax-nginx
	url = git://github.com/vim-scripts/nginx.vim.git
[submodule "vim/bundle/syntax-perl"]
	path = vim/bundle/syntax-perl
	url = git://github.com/vim-perl/vim-perl.git
[submodule "vim/bundle/syntax-stylus"]
	path = vim/bundle/syntax-stylus
	url = git://github.com/wavded/vim-stylus.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/tasklist"]
	path = vim/bundle/tasklist
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "vim/bundle/watchdog"]
	path = vim/bundle/watchdog
	url = git://github.com/avakarev/vim-watchdog.git
[submodule "vim/bundle/yankring"]
	path = vim/bundle/yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "vim/bundle/syntax-cucumber"]
	path = vim/bundle/syntax-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "vim/bundle/colors-irblack"]
	path = vim/bundle/colors-irblack
	url = git://github.com/wgibbs/vim-irblack.git
[submodule "vim/bundle/colors-molokai"]
	path = vim/bundle/colors-molokai
	url = git://github.com/vim-scripts/molokai.git
[submodule "vim/bundle/syntax-minitest"]
	path = vim/bundle/syntax-minitest
	url = git://github.com/sunaku/vim-ruby-minitest.git
[submodule "vim/bundle/syntax-less"]
	path = vim/bundle/syntax-less
	url = git://github.com/groenewege/vim-less.git
[submodule "vim/bundle/syntax-scss"]
	path = vim/bundle/syntax-scss
	url = git://github.com/cakebaker/scss-syntax.vim.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
